@import 'https://fonts.googleapis.com/css?family=Raleway';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Raleway;
  background-color: #000000;
  color: #1e272e;
  color: #fff;
  font-size: 16px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  margin: auto;
}

.nav-brand {
  width: 50px;
  border-radius: 5px;
  float: left;
  padding: 4px;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ffffff;
  color: black;
}

.topnav .icon {
  display: none;
}

/* Responsive Button */
.menu-btn {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 30px;
  z-index: 2;
  display: none;
}

/* SHOWCASE */

.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #262626;
  color: #fff;
  font-size: 15px;
  border: 1px solid #fff;
}

.btn:hover {
  background:#ffffff;
  color: #000000;
}

.showcase {
  width: 100%;
  height: 400px;
  background: url("./img/showcase.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 100px;
  color: #fff;
}

.showcase h2,
.showcase p {
  margin: 15px;
}

.showcase .btn {
  margin-top: 20px;
}

/* News Cards */
.news-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin: 70px 0;
}

.news-cards img {
  width: 100%;
  height: 180px;
}

.news-cards h3 {
  font-size: 20px;
  margin: 10px 0;
}

.news-cards a {
  padding: 10px 0;
  color: #f2f2f2;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
}

/* CARDS BANNER */
.cards-banner-one {
  width: 100%;
  height: 350px;
  background: url("./img/tech-red.jpg");
  margin-bottom: 40px;
}

.cards-banner .content {
  width: 40%;
  padding: 90px 0 0 30px;
  color: #fff;
}

.cards-banner p {
  margin: 10px 0 20px 0;
}

/* CARDS BANNER*/
.cards-banner {
  width: 100%;
  height: 350px;
  background: url("./img/image-five.jpg") no-repeat center center/cover;
}

.cards-banner .content {
  width: 50%;
  padding: 100px 0 0 30px;
}

/* You can also find us here */
.social {
  margin: 50px;
}
.social p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}
.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links a {
  margin: 0 25px;
}

.links a i {
  font-size: 30px;
}

/* Footer links */
.footer-links {
  background: #1d2024;
  color: #ffffff;
  font-size: 10px;
  padding: 30px 80px;
}

/* Footer */

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.footer-container ul {
  margin: 0 auto;
}

.footer-links li {
  line-height: 2.8;
}

/* Footer-rights */

footer
{
	padding: 10px;
	text-align: center;
}

footer p
{
  color:#888888;
}

/* Mobil */
@media (max-width: 800px) {
  .news-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .cards-banner .content {
    width: 80%;
  }

  .footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  .footer-links {
    background: #1d2024;
    color: #ffffff;
    font-size: 10px;
    padding: 30px 60px;
  }
}

@media (max-width: 500px) {
  .news-cards {
    grid-template-columns: 1fr;
  }

  .cards-banner .content {
    width: 100%;
    padding: 60px 20px;
  }

  .footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    align-items: center;
    justify-content: center;
  }
  
  .footer-links {
    background: #1d2024;
    color: #ffffff;
    font-size: 10px;
    padding: 30px 40px;
  }
}
